{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Realizamos su Proyecto</span>
{% endblock %}

{% block content %}

<div class="col-lg-8 col-md-10 mx-auto">
    <p>"Usando íconos puedes crear un sentido de pertenencia, y puedes crear un programa internacional que no depende de ningún lenguaje."</p>
    <br>
    <p>Lance Wyman</p>
  </div>
{% endblock %}